@import "styles/modules/all";

.form {
    width: 100%;
    z-index: 3;
    background: #fff;
    right: 10px;
    bottom: 0;
    padding: 0;
    color: #000;
    font-family: "Gotham", sans-serif;
    text-align: left;

    input {
        border: 1px solid #d0d7db;
        padding: 12px 14px;
        width: 100%;
        color: #000;
        font-size: .8125em;
        font-family: $alt_font_family;
        font-weight: $font_weight_light;
       
        margin: 0 0 14px 0;
        border-radius: 4px !important;

        &::placeholder {
            color: #000;
            font-size: 1em;
        }

    }

    button[type=submit] {
        background-color: $accent_blue;
        padding: 12px 18px;
        color: #fff;
        width: 100%;
        font-size: .75em;
        font-family: $special_font_family;
        font-weight: $font_weight_bold;
        border: none;
        text-align: center;
        border-radius: 4px;

        &:hover:not(:disabled) {
            background-color: $medium_blue4;
        }
    }

    .privacyPolicy {
        color: black;
        margin: 16px 0 20px 0!important;
        font-size: .75em;
        line-height: 1.3;
        text-align: left;

        a {
            text-decoration: underline;
        }
    }

    .agent {

        label, .radioLabel {
            font-size: .8em;
            font-family: $special_font_family;
            color: #000;
        }

        .radioGroup {
            display: flex;
            gap: 12px;

            label {
                display: inline-flex;
                align-items: center;
                gap: 4px;
                font-size: .8em;
                color: #000;

                input {
                    width: auto;
                    margin: 0;

                    &:focus-visible {
                        box-shadow: inset 0 0 1px 1px #0070cd;
                    }
                }
            }
        }
    }
}
