@import 'styles/modules/all';

.message {
  color: black;
  font-size: 0.9em;
  font-weight: $font_weight_bold;
  padding: 0 0 24px 0 !important;
  margin: 0 !important;
}

.buttonWrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    min-height: 42px;
    color: white;
    font-size: 0.8em;
    font-family: $special_font_family;
    padding: 10px 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 100px;
    background-color: $accent_blue;

    &:hover {
      background-color: $medium_blue4;
    }

  }

  .white {
    color: black;
    border: 1px solid black;
    background: transparent;

    &:hover {
      background-color: #f5f7f8;
    }
  }

  .contactButton {
    .iconWrapper {
      background-color: #007518;
    }
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $accent_blue;

    img {
      width: 10px;
      height: auto;
    }
  }

  &.contactOption {
    button {
      padding: 6px 20px;
    }

    .endChat .iconWrapper {
      margin-left: -12px;
    }
  }

}

