@import 'styles/modules/all';

.message {
  //color: black;
  font-size: 0.9em;
  font-weight: $font_weight_book;
  //padding: 0 0 24px 0 !important;
  //margin: 0 !important;
}

.closeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 42px;
  color: white;
  font-size: 0.8em;
  font-family: $special_font_family;
  padding: 10px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  background-color: $accent_blue;

  &:hover {
    background-color: $medium_blue4;
  }
}
