@import "styles/modules/all";

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    background-color: $light_gray;
    border: 1px solid $medium_gray;
    border-radius: 100px;
    gap: 3px;

    &:focus-within {
        outline: 3px solid $accent_blue;
    }
}

.input {
    border: none;
    background: transparent;
    font-family: $alt_font_family;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    outline: none;
    padding: 8px 12px;
    resize: none;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* hack so iphone doesn't zoom in on focus */
    transform: scale(0.8125);
    transform-origin: left center;
    width: 336px;
    width: calc(100% / .8125 - 46px);
    flex-grow: 1;
    flex-shrink: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    &::placeholder {
        color: #000;
        opacity: 1;
    }

    &:focus,
    &:focus-visible {
        outline: none !important;
        box-shadow: none !important;
    }
}

.sendButton {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $accent_blue;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-right: 20px;
    //transition: background-color 0.2s ease;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
        background-color: $medium_blue4;
    }

    &:active {
        background-color: $medium_blue4;
    }

    &:focus-visible {
        outline: none !important;
        background-color: $medium_blue4;
    }
}
