@import "styles/modules/all";

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    background-color: $light_gray;
    border: 1px solid $medium_gray;
    border-radius: 100px;
    gap: 3px;

    &:focus-within {
        outline: 3px solid $accent_blue;
    }
}

.input {
    flex: 1;
    border: none;
    background: transparent;
    font-family: $alt_font_family;
    font-size: .75em;
    line-height: 18px;
    color: #000;
    outline: none;
    padding: 8px 12px 8px 12px;
    resize: none;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::placeholder {
        color: #000;
        opacity: 1;
    }

    &:focus,
    &:focus-visible {
        outline: none !important;
        box-shadow: none !important;
    }
}

.sendButton {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0070cd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    transition: background-color 0.2s ease;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
        background-color: #005ba8;
    }

    &:active {
        background-color: #004785;
    }

    &:focus-visible {
        outline: none !important;
        background-color: #004785;
    }
}
