@import "../modules/all";


.tollAboutContent {
  padding-top: 56.25%;
  display: block;
  position: relative;

  @media screen and (min-width: 1400px) {
    padding-top: calc(56.25% - 245px);
  }

  h2.subhead {
    color: $medium_blue;
    font-size: 1.4em;
    line-height: 1.25;
  }

.subpageHero {
  background-color: #000;

  img {
    opacity: 0.4;
  }

  .tollLogoOverlay {
    position: absolute;
    display: block;
    z-index: 2;
    width: 300px;
    height: auto;
    opacity: 1;
    filter: grayscale(100%) invert(100%) drop-shadow(0 10px 11px rgba(0, 0, 0, .6));
  }

  a {
    position: absolute;
    margin-top: 180px;
    display: block;
    z-index: 2;
    color: #FFF;
    left: 43%;
    cursor: pointer;
    
    @include breakpoint(sm) {
      margin-top: 130px;
      left: 48%;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-220%, -50%);
      z-index: 100;
      background: url("https://cdn.tollbrothers.com/sites/comtollbrotherswww/about/svg/Play_Button.svg");
      background-repeat: no-repeat;
      background-size: 31px;
      background-position: center center;
      height: 40px;
      width: 40px;
    }
  }
}

.tollHistoryContent {
  background-color: $navy_blue;

  .tollHistoryRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 0 150px 0;
    row-gap: 10px;
    column-gap: 10px;
    margin: -8px auto 0 auto;
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    .tollHistoryCol {
      width: 100%;
      text-align: center;
      padding: 0 30px;

      @include breakpoint(sm) {
        width: 50%;
        padding: 20px 10px;
      }

      p {
        color: #FFF;
        font-size: 1em;
        font-family: $alt_font_family;
        text-align: left;
        line-height: 1.8em;
      }

      h2 {
        color: $gray;
        font-size: 4em;
        font-family: $domaine_font_family;
        text-align: left;
        margin: 0 0 0 0;

        @include breakpoint(sm) {
          font-size: 3.2em;
        }

        span {
          color: #FFF;
          font-size: .4em;
          font-family: $base_font_family;
          text-align: left;
          display: block;
          margin: 0 0 -20px 0;

          @include breakpoint(sm) {
            margin: 0 0 -5px 0;
          }
        }
      }

      .tollHistoryBtn {
        border: 1px solid $medium_gray;
        background-color: transparent;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 20px 5px 30px;
        margin: 0;
        text-align: center;

        @include breakpoint(sm) {
          width: 225px;
        }

        &:hover {
          border: 4 solid $light_gray;
          background-color: #8195a2;
        }


      .tollHistoryLink {
        margin: 0 auto 0 auto;
        padding: 10px 10px 10px 10px;
        color: #FFF;
        font-size: .8em;
        width: 100%;
        text-align: center;

        @include breakpoint(sm) {
          margin: 0 0 0 0;
        }

        &:before {
          content: "";
          background-image: url("https://cdn.tollbrothers.com/sites/comtollbrotherswww/icons/timeline-Icon.svg");
          background-position: center;
          background-repeat: no-repeat;
          height: 30px;
          width: 30px;
          position: absolute;
          margin-left: -35px;
          margin-top: -6px;
        }
      }

      img.timeIcn {
      height: 30px;
      width: 30px;
      margin-top: 5px;
      cursor: pointer;   
     }
    }
  }
  }
}

.tollServicesContent {
  background-color: $light_gray;
  margin: 0 0 0 0;
  padding: 20px 0 100px 0;

  h2 {
    color: #000;
    font-size: 3.2em;
    font-family: Domaine, Gotham, sans-serif;
    text-align: center;
    margin: 0 0 0 0;

    span {
      color: #8195a2;
      font-size: 0.4em;
      font-family: $base_font_family;
      text-align: center;
      display: block;
      margin: 0 0 -10px 0;
    }
  }

  .tollServicesRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    row-gap: 10px;
    column-gap: 10px;
    margin: -8px auto 0 auto;
    flex-direction: row;

    .tollServicesColFull {
      width: 100%;
      text-align: center;
      padding: 20px 10px;

      h2 {
        color: $navy_blue;
        line-height:1.125em;
        padding: 0 50px;

        @include breakpoint(sm) {
          padding: 0 0;

        }
      }
    }

      p {
        color: #000;
        font-size: 1em;
        font-family: $alt_font_family;
        text-align: left;
        line-height: 1.8em;
      }
    }
  }

  .tollServicesLogoRow {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    gap: 10px;
    margin: 0 auto 10px auto;

    @include breakpoint(sm) {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 0 0 0;
      gap: 10px;
    }

    .tollServicesCol {
      text-align: center;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      background-color: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      @include breakpoint(sm) {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }

      .tollLogoOverlay {
        position: absolute;
        display: block;
        z-index: 2;
        width: 185px;
        height: auto;
        opacity: 1;

        @include breakpoint(sm) {
          width: 150px;
        }
      }

      img {
        width: 100%;
        opacity: 0.4;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        height: 200px;

        @include breakpoint(sm) {
          height: auto;
        }

        &:hover {
          opacity: 0.7;
        }
      }
  }
}


.tollCareersContent {
  background-color: #FFF;

  .tollCareersRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 50px 0 50px 0;
    row-gap: 10px;
    column-gap: 10px;
    margin: -8px auto 0 auto;
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    .tollCareersCol {
      width: 100%;
      text-align: left;
      padding: 0 30px 20px 30px;
      justify-content: center;
      align-items: center;

      @include breakpoint(sm) {
        width: 50%;
        padding: 20px 10px;
      }

      img.fortuneLogo {
        width: 100%;
        margin: 0 auto 0 -22px;
        padding: 0 0 0 0;
        height: auto;

        @include breakpoint(sm) {
          width: 100%;
          max-width: 400px;

        }
      }

      p {
        color: #000;
        font-size: 1em;
        font-family: $alt_font_family;
        text-align: left;
        line-height: 1.8em;
      }

      h2 {
        color: $navy_blue;
        font-size: 3.2em;
        font-family: $domaine_font_family;
        text-align: left;
        margin: 0 0 0 0;
        padding: 0 0 0 0;

        span {
          color: $gray;
          font-size: .35em;
          font-family: $base_font_family;
          text-align: left;
          display: block;
          margin: -10px 0 20px 0;

          @include breakpoint(sm) {
            margin: -10px 0 30px 0;
          }
        }
      }

      a.tollCareersLink {
        padding: 10px 0 10px 0;
        color: $accent_blue;
        font-size: .8em;
        font-weight: 500;
        text-align: left;
        text-decoration: underline;
        text-transform: uppercase;
      }

      .tollCareersRule {
        border: 0;
        height: 1px;
        background: #D8D8D8;
        background-image: linear-gradient(to right, #D8D8D8, #D8D8D8, #D8D8D8);
        width: 90%;
        margin: 40px 0 40px 0;
      }
    }
  }
}



.tollGivingBackContent {
  background-color: #FFF;

  .tollGivingBackRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    row-gap: 10px;
    column-gap: 10px;
    margin: -8px auto 0 auto;
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    .tollGivingBackCol {
      width: 100%;
      text-align: left;
      padding: 6px 30px;

      @include breakpoint(sm) {
        width: 50%;
        padding: 20px 10px;
      }

      p {
        color: #000;
        font-size: 1em;
        font-family: $alt_font_family;
        text-align: left;
        line-height: 1.8em;
      }

      h2 {
        color: $navy_blue;
        font-size: 4em;
        font-family: $domaine_font_family;
        text-align: left;
        margin: 0 0 0 0;
        line-height:1em;

        @include breakpoint(sm) {
          font-size: 3.2em;
        }

        span {
          color: $gray;
          font-size: .4em;
          font-family: $base_font_family;
          text-align: left;
          display: block;
          margin: 0 0 -5px 0;
        }
      }

      a.tollGivingBackLink {
        padding: 10px 0 10px 0;
        color: $accent_blue;
        font-size: .8em;
        font-weight: 500;
        text-align: left;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}


.tollBusinessNewsContent {
  background-color: #FFF;

  .tollBusinessNewsRow {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    row-gap: 10px;
    column-gap: 10px;
    margin: -8px 0 0 0;
    flex-direction: column;

    @include breakpoint(sm) {
      padding: 50px 10% 50px 0;
      flex-direction: row;      
    }

    .tollBusinessNewsCol {
      width: 100%;
      text-align: left;
      padding: 20px 30px;

      @include breakpoint(sm) {
        width: 35%;
        padding: 20px 10px 0 5%;
      }

      p {
        color: #000;
        font-size: 1em;
        font-family: $alt_font_family;
        text-align: left;
        line-height: 1.8em;
      }

      h2 {
        color: $navy_blue;
        font-size: 4em;
        font-family: $domaine_font_family;
        text-align: left;
        margin: 0 0 30px 0;
        line-height: 1em;

        @include breakpoint(sm) {
          font-size: 3.2em;
        }
      }

      a.tollBusinessNewsLink {
        padding: 10px 0 10px 0;
        color: $accent_blue;
        font-size: .8em;
        font-weight: 500;
        text-align: left;
        text-decoration: underline;
        text-transform: uppercase;
      }

      .tollStock {
        // background-color: $gray;
        background-color: rgba(129 149 162 / 0.25);
        text-align: center;
        padding: 9% 5% 0% 5%;
        margin: 40px auto 0 auto;

        p {
          text-align: center;
          font-weight: normal;
          opacity: 1;
          margin: 0;

          span {
            display: block;
            font-weight: 500;
            margin: 0 0 -10px 0;
          }
        }

        p.smText {
          font-size: .8em;
          margin: 0 0 0 0;
        }

        .tollStockPrice {
          color: $navy_blue;
          font-size: 4em;
          font-family: $domaine_font_family;
          position: relative;
          display: inline;

          span {
            color: $navy_blue;
            font-size: .4em;
            font-family: $domaine_font_family;
            margin: 0 10px 0 0;
            top: 10px;
            left: -20px;
            position: absolute;
          }
        }
      }
    }

    .tollBusinessNewsColLg {
      width: 100%;
      padding: 20px 0;

      @include breakpoint(sm) {
        width: 65%;
        padding: 20px 0 0 3%;
      }
    }
    
  }
}


.tollFollowContent {
  background-color: $navy_blue;

  .tollFollowRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    row-gap: 10px;
    column-gap: 10px;
    margin: -8px auto 0 auto;
    flex-direction: row;

    .tollFollowColFull {
      width: 100%;
      text-align: center;

      h2 {
        color: #FFF;
        margin: 0 0 20px 0;
      }

      p {
        color: #FFF;
        padding: 0 20%;
        text-align: left;

        @include breakpoint(sm) {
          text-align: center;
        }
      }

      a.instLink {
        color: #FFF;
        font-family: $domaine_font_family;
      }
    }

    .tollFollowCol {
      border: 1px solid red;
      width: 50%;
      text-align: center;
      padding: 20px 10px;

      p {
        color: #FFF;
        font-size: 1em;
        font-family: $alt_font_family;
        text-align: left;
        line-height: 1.8em;
      }
    }
  }

  .instaRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    gap: 10px;
    margin: 0 auto 10px auto;
    color: #000;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    justify-content: flex-start;
    z-index: 0;
  
    @include breakpoint(sm) {
      white-space: pre-wrap;
      padding: 0 0 0 0;
      gap: 10px;
    }
  
    .instaCol {
      background-color: #FFF;
      color: #000;
      padding: 0 0 0 0;
      text-align: left;
      min-width: 80%;
      white-space: inherit;

      @include breakpoint(sm) {
        width: 33.3333%;
        min-width: auto;
      }

      .instaColText {
        width: 100%;
      }

      p {
        color:$navy_blue;
        padding: 10px 20px 10px 20px;
        margin: 0 0 0 0;
        white-space: normal;
      }

      .instaImg {
        width: 100%;
      }
    }
  }

  .tollBlogRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    padding: 0 20px 24px 20px;
    gap: 10px;
    margin: 0 auto 10px auto;
    color: #000;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    justify-content: flex-start;
    z-index: 0;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
  
    &::-webkit-scrollbar-track {
      background: $light_gray;
      margin: 20px;
    }
  
    &::-webkit-scrollbar-track-piece {
      border: 1px solid $navy_blue;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $light_gray;
    }
  
    @include breakpoint(sm) {
      white-space: pre-wrap;
      padding: 0 20px;
      gap: 10px;
    }

    @include breakpoint(md) {
      padding: 0;
    }
  
    .tollBlogCol {
      color: #000;
      padding: 0 0 0 0;
      text-align: left;
      min-width: 80%;
      min-height: 365px;
      height: 75vw;
      max-height: 425px;
      white-space: inherit;
      overflow: hidden;
      position: relative;
      
      &:before {
        content: "";
        background-image: url("https://cdn.tollbrothers.com/sites/comtollbrotherswww/about/svg/Blog-white.svg");
        position: absolute;
        top: 8px;
        left: 12px;
        display: block;
        width: 30px;
        height: 30px;
      }

      @include breakpoint(sm) {
        width: 25%;
        min-width: auto;
        min-height: auto;
        height: 265px;
        max-height: auto;

        &:hover {
          .blogTitle {
            &.desktop {
              opacity: 1;
            }
          }
        }
      }

      .blogTitle {
        color: $navy_blue;
        width: 100%;
        padding: 10px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-transform: capitalize;

        &.mobile {
          min-height: 80px;
          top: auto;
          bottom: 0;
          background: rgba(255, 255, 255);
          transition: opacity 0s ease-in;
          text-align: left;
          font-family: $alt_font_family;
          font-size: 14px;
          white-space: normal;
  
          @include breakpoint(sm) {
            display: none;
          }
        }
  
        &.desktop {
          height: 100%;
          top: 0;
          bottom: auto;
          background: rgba(255, 255, 255, 0.7);
          opacity: 0;
          transition: opacity 0.25s ease-in;
          text-align: center;
          font-family: $base_font_family;
          font-weight: 100;
          font-size: 17px;
          display: none;
  
          @include breakpoint(sm) {
            display: flex;
          }
        }
      }


      .blogImg {
        width: 100%;
        height: calc(100% - 80px);
        object-fit: cover;

        @include breakpoint(sm) {
          height: 100%;
        }
      }
    }
    
  }

  .tollBlogFullCol {
    width: 100%;
    margin-top: 100px;

      h3 {
        color: #FFF;
        font-size: 2.4em;
        margin: 0 0 20px 0;

        span {
          color: $gray;
          font-size: .4em;
          font-family: $base_font_family;
          text-align: center;
          display: block;
          margin: 0 0 -5px 0;
          text-transform: uppercase;
        }
      }
  }
}

.tollBlogFullColBtn {
  margin-top: 50px;

.tollBlogLink {
  border: 1px solid #d8d8d8;
  margin: 50px auto 0 auto;
  padding: 10px 50px 10px 50px;
  color: #FFF;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  }

  h3 {
    color: #FFF;
    font-size: 2.4em;
    margin: 0 0 20px 0;

    span {
      color: $gray;
      font-size: .4em;
      font-family: $base_font_family;
      text-align: center;
      display: block;
      margin: 0 0 -5px 0;
      text-transform: uppercase;
    }
  }
}

.social {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 50px 0;
  row-gap: 10px;
  column-gap: 30px;
  margin: 0 auto 0 auto;
  flex-direction: row;

  a {
    display: block;
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
    }

    filter: invert(1);
  }
}


.pageWrapper {
  max-width: 1100px;
  margin: 50px auto 90px auto;
  padding-left: 17.5px;
  padding-right: 17.5px;
  color: #0f0f0f;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;

  @include breakpoint(md) {
    padding-left: 160px;
    padding-right: 160px;
    margin: 60px auto 90px auto;
  }

  p {
    color: #000;
    font-size: 1em;
    font-family: $alt_font_family;
    text-align: left;
    line-height: 1.8em;
  }


}

a.underline {
  text-decoration: underline;
}

a.underline:hover {
  text-decoration: none;
}

.tollLogo {
  text-align: center;

  img {
    width: 75%;
    margin: 30px auto -10px auto;

    @include breakpoint(sm) {
      width: 40%;
      margin: 30px auto 20px auto;
      max-width: 400px;
    }
  }
}

h1.heading {
  position: relative;
  margin: 0;
  padding: 0 17.5px;
  font-size: 3.1em;
  font-weight: 200;
  text-align: center;
  text-shadow: rgb(0 0 0 / 0.12) 0 3px 10px;
  z-index: 0;
  line-height: 1em;
}

.iconTollLogoBlack {
  display: block;
  margin: 0 auto 50px auto;
  line-height: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .iconTollLogoBlack {
    margin: -10px auto 80px auto;
  }
}

.iconTollLogoBlack:before {
  content: "\E096";
  color: #004876;
  font-size: 60px;
  font-family: $icons_font_family;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

@media (min-width: 768px) {
  .iconTollLogoBlack:before {
    font-size: 60px;
  }
}

.tollBrands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 70px;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.tollBrands img {
  display: block;
  position: static !important;
  width: 100% !important;
  height: auto !important;
  margin: 0 auto 40px auto;
  max-width: 240px;

  @media (max-width: 1000px) {
    margin: 0 auto 40px auto;
  }

  @media (max-width: 600px) {
    margin: 0 auto 40px auto;
  }
}

.tollBrandsLink {
  margin: 30px 40px;

  @include breakpoint(md) {
    margin: 30px 40px;
  }

  @include breakpoint(lg) {
    margin: 30px 20px;
  }
}

.tollBrandsLink:after {
  content: "";
  position: absolute;
  display: block;
  height: 110px;
  width: 1px;
  background: #e6e6e6;
  margin: -120px 0 0 -20px;

  @media (max-width: 1000px) {
    width: 1px;
    margin: -120px 0 0 -40px;
  }

  @media (max-width: 600px) {
    width: 0;
    margin: -120px 0 0 -40px;
  }
}

.tollBrandsLink:nth-child(3):after {
  content: "";
  position: absolute;
  display: block;
  height: 110px;
  width: 1px;
  background: #e6e6e6;

  @media (max-width: 1000px) {
    width: 1px;
    margin: -120px 0 0 -40px;
  }

  @media (max-width: 600px) {
    width: 0;
    margin: -120px 0 0 -40px;
  }
}

.tollBrandsLink:first-child:after {
  content: "";
  position: absolute;
  display: block;
  height: 110px;
  width: 0;
  background: #000;
}


.tollBrandsLink:last-child {
  max-width: 220px;
}


.insideToll {
  display: block;
  grid-template-columns: 1fr;
  justify-content: space-around;
  padding-left: 17.5px;
  padding-right: 17.5px;
  height: auto;

  @include breakpoint(md) {
    display: inline-flex;
    grid-template-columns: 1fr;
    margin: 0 70px 90px 70px;
    height: auto;
  }

  @include breakpoint(lg) {
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    margin: 0 70px 90px 70px;
    height: auto;
  }
}

.insideCommunities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 17.5px;
  padding-right: 17.5px;
  height: auto;

  @include breakpoint(md) {
    flex-direction: row;
    margin: 0 70px 90px 70px;
    height: auto;
  }
}

.insideGala {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 17.5px;
  padding-right: 17.5px;
  height: auto;

  @include breakpoint(md) {
    flex-direction: row;
    margin: 0 70px 0 70px;
    height: auto;
  }
}

.insidePeace {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 17.5px;
  padding-right: 17.5px;
  height: auto;

  @include breakpoint(md) {
    flex-direction: row;
    margin: 0 70px 90px 70px;
    height: auto;
  }
}

.disclaimer {
  font-size: 0.7em;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;

  @include breakpoint(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.workfortoll {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  background: #004778;
  height: 220px;
  width: 100%;
}

.insidePictures {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 0;

  @include breakpoint(md) {
    margin: 0;
    width: 48%;
    max-width: 900px;
  }
}

.insideGalaPictures {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 0;

  @include breakpoint(md) {
    margin: 0;
    width: 48%;
    max-width: 900px;
  }
}

.insideGalaPictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 50%;

  @include breakpoint(md) {
    object-position: 60% 50%;
  }

  @include breakpoint(lg) {
    object-position: 40% 50%;
  }
}

.insideGalaWrap {
  display: inline-flex;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 20px;
  gap: 30px;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: 1fr;
  }
}


.insidePicturesWrap {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 20px;
  gap: 30px;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.insideTollHouse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 50%;
  margin: 0 0 0 0;
}

.insideSeedsMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 50%;
  margin: 20px 0 0 0;
}

.anniversary {
  flex-direction: column;
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
  float: left;

  @media (max-width: 650px) {
    width: 100%;
  }
}

.anniversary img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: 985px) {
    width: 95%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }

  @media (max-width: 425px) {
    width: 100%;
  }
}

.insideTollContent {
  width: 100%;
  order: 2;

  @include breakpoint(md) {
    width: 44%;
    order: 0;
  }
}

.insideTollGala {
  padding: 10px 0 0 0;
  width: 100%;
  order: 1;

  @include breakpoint(md) {
    width: 44%;
    padding: 97px 0 30px 0;
    order: 2;
  }
}

.insideTollPeace {
  padding: 10px 0 0 0;
  width: 100%;
  order: 1;

  @include breakpoint(md) {
    width: 44%;
    padding: 97px 0 20px 0;
    order: 0;
  }
}

.insideTollHouse {
  display: block;
  height: 100%;
  margin-bottom: 30px;
}

.insideSeedsMain {
  display: block;
  height: 100%;
  margin-bottom: 30px;
}

p.lessSpace {
  margin: 0 0 0 0;
  font-weight: 500;
  font-family: $alt_font_family;
  font-size: 0.9em;
}

.bulletFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
}

.bulletFlex ul {
  margin: -10px auto 0 0;
}

.bulletFlex ul li {
  margin: 0;
  line-height: 0.4em;
}

.givingBackText {
  padding-left: 17.5px;
  padding-right: 17.5px;
  height: auto;

  @include breakpoint(md) {
    margin: 0 90px 0 90px;
    height: auto;
  }

  h2 {
    color: #004876;
    font-size: 1.4em;
    margin: 60px 0 30px 0;
  }
}

.givingBackText ul li {
  margin: 20px 0;
}

.highlightItalic {
  font-style: italic;
  font-weight: bold;
}

.aboutExternalLink {
  display: inline-block;
  margin-top: 0;
  color: #2079d2;
  font-size: 0.64em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// .aboutExternalLink::after {
//   content: "\E00A";
//   width: 0px;
//   height: 1px;
//   margin: 3px 0px 0px 5px;
//   background-color: rgb(0, 112, 205);
//   transition-property: width;
//   transition-duration: 0.4s;
//   transition-timing-function: ease;
// }

.imgWrap {
  height: 245px;
  width: 50%;
  float: left;
  margin: 0 0 0 0;

  @media (max-width: 900px) {
    width: 100%;
    margin: 0 0 30px 0;
  }
}

.imgWrap img {
  width: 95%;
  height: 100%;
  object-fit: cover;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.imgWrapRight {
  height: 245px;
  width: 50%;
  float: left;
  overflow: hidden;

  @media (max-width: 900px) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
    margin: 0 0 0 30px;

    @media (max-width: 900px) {
      width: 100%;
      margin: 0 0 0 0;
    }
  }
}

.historyFullImg {
  width: 100%;
  height: 200px;

  @include breakpoint(sm) {
    height: auto;
}
}

.careerFullImg {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.careerFullImgSlider {
  width: 100%;
  height: auto;
}

.businessFullImg {
  width: 100%;
  height: auto;
}

.hideMobile {
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}


.historyHero {
  text-align: center;
padding: 0 0 0 0;
margin: 0 0 0 0;
background-color: #000;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;

  img {
    opacity: .4;
  }

  .tollLogoOverlay {
    position: absolute;
    display: block;
    z-index: 2;
    width: 200px;
    height: auto;
    opacity: 1;
    filter: grayscale(100%) invert(100%) drop-shadow(0 10px 11px rgba(0, 0, 0, .6));

    @include breakpoint(sm) {
      width: 300px;
    }
  }
  }

    .careersPad {
      padding: 0 0 0 0;

      @include breakpoint(sm) {
      padding: 75px 0 75px 0;
      }
    }

    .gallery {
      margin-top: 0;
      position: relative;
  
      @media only screen and (max-width: 1125px) {
          margin-top: 75px;
      }
  
      // :global {
      //     .inlineScroller-controls__adjust {
      //       display: flex !important;
      //     }
      // }
  
      .InlineScroller-holder {
          width: 100%;
      }
  
      .js_slideGallery {
          position: absolute;
          z-index: 5;
          display: block;
          width: 40px;
          height: 40px;
          top: 50%;
          margin-top: -20px;
          -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.14);
          -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.14);
          background-color: #0070CD;
          font-size: 13px;
          color: #fff;
          line-height: 41px;
  
          &:hover {
              background-color: #004876;
          }
  
          &.left_arrow {
              left: 0;
              margin-left: 0;
          }
  
          &.right_arrow {
              right: 0;
              margin-right: 0;
  
              .obicon {
                  margin-left: 3px;
              }
          }
      }
  
      .gallery_wrapper {
          position: relative;
          font-size: 0;
          //max-width: 1320px;
          margin: 0 0 0 0;
  
          @media only screen and (max-width: 1125px) {
              margin: 0 auto;
          }
  
          &.disable_left {
              .js_slideGallery.left_arrow {
                  background-color: #bbb;
                  opacity: 0.7;
                  cursor: default;
              }
          }
  
          &.disable_right {
              .js_slideGallery.right_arrow {
                  background-color: #bbb;
                  opacity: 0.7;
                  cursor: default;
              }
          }

          .media_container {
            width: 100vw;
            height: auto;

            img {
              width: 100vw;
              height: auto;
            
            }
          }
  
          .gallery_slide {
              text-align: left;
              white-space: nowrap;
              position: relative;
              z-index: 1;
          }
  
          .gallery_item {
              position: relative;
          }
  
          .col_lg {
              display: inline-block;
              vertical-align: top;
              padding: 0 12px;
  
              @media only screen and (max-width: 1125px) {
                  padding: 0 0;
              }
  
              .media_item {
                  position: relative;
                  overflow: hidden;
                  display: block;
                  height: 700px !important;
                  width: 1261px !important;
  
                  @media only screen and (max-width: 1125px) {
                      width: calc(100vw - 60px) !important;
                      width: 100vw !important;
                      height: 49vw !important;
                  }
  
                  @media only screen and (max-width: 650px) {
                      //width: calc(100vw - 46px) !important;
                      height: 58vw !important;
                  }
              }
  
              .caption {
                  padding-left: 20px;
                  padding-bottom: 1px;
                  padding-right: 40px;
              }
          }
      }
  }
}

.whiteBG {
  background-color: #FFF;
  display: block;
  z-index: 4;
  position: relative;
  width: 100%;
}


.headerHolder {
  background-color: #0c223f;
  overflow: hidden;

  a.viewVideo {
    position: fixed;
    display: block;
    z-index: 3;
    margin: 30% -30px;
    left: 50%;
    color: #fff;
    width: 110px;
    cursor: pointer;

    @media (min-width: 1400px) {
      margin: 23% -30px;
    }

    @media (max-width: 800px) {
      margin: 34% -30px;
    }

    @media (max-width: 500px) {
      margin: 38% -30px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      transform: translate(-220%, -50%);
      z-index: 100;
      background: url("https://cdn.tollbrothers.com/sites/comtollbrotherswww/about/svg/Play_Button.svg");
      background-repeat: no-repeat;
      background-size: 31px;
      background-position: center center;
      height: 40px;
      width: 40px;
    }
  }
}