@import "../../styles/modules/all";

/* ===========================================================
	GENERAL
============================================================*/

ul.list {
  margin: 0 0 30px 2px;
  padding: 0;

  li {
    display: block;
    padding: 0 0 24px 40px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0px;
      width: 8px;
      height: 1px;
      background-color: $black;
    }
  }
}

.trigger {
  overflow: hidden;
}

/* ===========================================================
	TOP COPY
============================================================*/

.pageWrapper {
  max-width: 1130px;

  h2 {
    margin-bottom: 40px;
  }

  h3 {
    text-align: left;
  }

  ul {
    padding: 0;

    @include breakpoint(sm) {
      padding: 0 20px 0 16px;
    }

    li {
      position: relative;

      &:after {
        display: none;
        position: absolute;
        content: "";
        top: 12px;
        left: 0px;
        height: 1px;
        width: 8px;
        background-color: $black;
      }
    }
  }

} // end pageWrapper

/* ===========================================================
	REGISTRATION FORM
============================================================*/

.beige {
  //margin-bottom: 32px;

  .beigeWrapper {
    margin-bottom: 0px;
    padding-bottom: 0px;

  } // end beigeWrapper

  .disclaimer {
    padding: 0 17.5px;
    padding-bottom: 38px;
    font-size: 0.75em;
    line-height: 19px;

    @include breakpoint(sm) {
      padding: 0 0 55px 0;
      max-width: 1264px;
      margin: 30px auto 0;
    }

  }

} // end beige