@import "../modules/all";

/* ===========================================================
	GENERAL
============================================================*/

.formThanks {
  color: $white;
}

.pageWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  padding: 0 17.5px;

  @include breakpoint(lg) {
    max-width: 1440px;
    padding: 0 0 0 72px;
  }

/* ===========================================================
	COPY
============================================================*/

  .copy {
    width: 100%;
    padding: 45px 0 0 0;
    margin: 0;

    @media only screen and (min-width: 600px) {
      max-width: 600px;
      margin: 0 auto;
    }

    @include breakpoint(lg) {
      width: calc(100% - 720px);
      margin: 0 43px 0 0;
    }

    h2 {
      text-align: left;
      font-size: 44px;
      line-height: 54px;
      letter-spacing: 1.13px;
      color: #6D6354;
      margin: 0 0 83px 0;
    }

    h3 {
      text-align: left;
      font-size: 23px;
      line-height: 22px;
      font-weight: 500;
      margin: 0 auto 34px auto;
    }

    .contactInfo {
      padding: 0 0 34px 0;

      p {
        padding: 0;
        margin: 0;
        font-weight: 100;

        span {
          font-weight: bold;
        }

      }

    } // end contactInfo

    p {
      font-weight: 100;
    }

/* ===========================================================
	FORM
============================================================*/

    form {
      padding: 0 0 80px 0;


      @include breakpoint(lg) {
        padding: 0 0 119px 0;
      }

    }

/* ===========================================================
	LOCATIONS
============================================================*/

    .locations {
      display: flex;
      margin: 0 auto;
      height: auto;
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;
      flex-flow: row wrap;
      padding: 35px 0 36px 0;
      border-top: 1px solid #D8D8D8;

      h5 {
        padding: 0 0 30px 0;
      }

      p {
        margin: 0;
        padding: 0;

        a {
          text-decoration: none;
        }
      }

      p.title {
        font-weight: 500;
      }

      p.future {
        font-size: 12.5px;
        font-weight: 500;
        letter-spacing: 0.05em;
      }

      p.street {
        margin: 0;
      }

      p.city {
        margin: 0 0 30px 0;
       }

      .corporate {
        padding: 0;
        width: 100%;

        @include breakpoint(sm) {
          width: 50%;
          padding: 0 0 0 85px;
        }

        p {
          width: 178px;
        }

        span {
          font-weight: 500;
        }
      }

    } // end locations

  } // end copy

/* ===========================================================
	MAP
============================================================*/

  .mapWrapper {
    width: 100%;
    display: none;
    background: url(public/img/contact/map.png) no-repeat;

    @include breakpoint(lg) {
      display: block;
      width: 646px;
      height: 1252px;
    }

  }

  .mobileMapWrapper {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    height: 320px;
    background: url(public/img/contact/map.png) 50% no-repeat;

    @include breakpoint(lg) {
      display: none;
    }
  }

} // end pageWrapper



.community {
  //border: 1px solid $gray;
  width: 180px;
  height: auto;
  margin-bottom: 16px;
  position: relative;
}
