@import "../modules/all";

.content_header {
  display: flex;
  flex-wrap: wrap;
  padding-left: $page_margins/4;
  margin: 30px 0 20px 0;

  @include breakpoint(md) {
    margin: 34px 0 20px 0;
    padding-right: $page_margins/2;
    padding-left: $page_margins/2;
  }

  @include breakpoint(lg) {
    padding-right: $page_margins;
    padding-left: $page_margins;
  }

  h1 {
    font-size: 1.2em;
    padding-right: 30px;
    margin-bottom: 16px;

    @include breakpoint(md) {
      font-size: 1.4em;
    }
  }

  button {
    margin-right: 10px;
  }

  .metroFilters {
    display: flex;
    overflow: visible;
    overflow-x: auto;
    white-space: normal;

    @include breakpoint(md) {
      display: contents;
    }

    button {
      @include breakpoint(md) {
        margin: -7px 10px 16px 0;
      }
    }
  }
}

.contentControls {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1.2em;
  color: $medium_blue;
  z-index: 2;

  .sortContain {
    margin: 0;
    padding-right: 20px;
    font-size: 0.9em;
    line-height: 1.8em;

    @include breakpoint(sm) {
      font-size: 1em;
    }

    &.hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .sortControl {
    position: relative;
    display: inline-block;
    width: 78px;
    vertical-align: top;

    > div {
      position: absolute;
      width: 100%;
      margin-top: -4px;

      button {
        align-items: center;
        color: $medium_blue;
        padding: 0 30px 0 12px;
        height: 40px;

        span {
          color: $medium_blue !important;
        }
      }

      label {
        color: $medium_blue !important;
      }
    }
  }

  .viewControls {
    display: inline-flex;
    flex-shrink: 0;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 52px;
      font-size: 0.64em;
      border: 1px solid $medium_gray;

      &.grid,
      &.map {
        border-left-width: 0;
      }

      &.grid {
        display: none;

        @include breakpoint(lg) {
          display: flex;
        }
      }

      &.isActive {
        background: lighten(black, 96);
      }

      img {
        width: 13px;
        height: auto;
        margin-right: 4px;
      }

      &.map {
        img {
          width: 11px;
        }
      }
    }

    &.modelSearch {
      display: none;

      @include breakpoint(lg) {
        display: inline-flex;
      }
    }
  }
}

.distanceOption {
  display: inline-block;
  width: 16px;
  height: 20px;
  background: center / contain no-repeat url(public/img/icons/distance-blue.svg);
}

label {
  .distanceOption {
    margin-top: 10px;
  }
}

.priceOption {
  .small {
    font-size: 0.7em;
  }
  .mid {
    font-size: 0.84em;
  }
}
