@import "../modules/all";

.visualizerMenu {
    .dsLogo {
        margin: 60px 0 36px 60px;

        @include breakpoint(md) {
            margin: 60px 0 54px 60px;
        }
    }
    
    .savedScenes {
        padding: 0 20px;

        @include breakpoint(xs) {
            padding: 0 50px;
        }

        .visualizerHeadline {
            font-family: Domaine, Gotham, serif;
            color: $navy_blue;
            font-size: 49px;
            padding: 0;
            margin-bottom: 30px;
            text-transform: none;
            letter-spacing: 1px;
            line-height: 64px;
            font-weight: 700;
        }
    
        .visualizerSubhead {
            font-family: Domaine, Gotham, serif;
            color: $navy_blue;
            font-size: 22px;
            line-height: 1.34em;
            padding: 0 0 0 0;
            text-transform: none;
            letter-spacing: 1px;
            font-weight: 700;
            text-align: left !important;
            margin-top: 30px;
            margin-bottom: 22px;
        }
    
        .text {
            font-family: "Gotham light", sans-serif;
            color: #000;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 30px;
            max-width: 90%;
        }
    
        .savedScenesScroller {
            width: 100%;
            display: flex;
            padding: 0 0 44px 0;
            margin-bottom: 80px;
            gap: 30px;
            overflow-x: auto;
    
            @media (max-width: 600px) {
                margin-bottom: 60px;
            }
        
            &::-webkit-scrollbar {
                background-color: #D8D8D8;
                height: 3px;
                border: 1px solid white;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #0070CD; 
                border-radius: 2px;
            
            }
        }
    }

    .whiteLine {
        display: block;
        width: 100%;
        height: 6px;
        background-color: #fff;
    }

    .grayLine {
        display: block;
        width: 100%;
        height: 6px;
        background-color: #e9edf0;
    }

    .allCollections {
        display: flex;
        flex-direction: column;
        background-color: #e9edf0;
        padding: 60px 20px 80px 20px;
    
        @include breakpoint(sm) {
            padding: 60px;
        }

        .visualizerSubhead {
            font-family: Domaine, Gotham, serif;
            color: $navy_blue;
            font-size: 22px;
            line-height: 1.34em;
            padding: 0 0 0 0;
            text-transform: none;
            letter-spacing: 1px;
            font-weight: 700;
            text-align: left !important;
            margin-bottom: 16px;
        }

        .collectionsInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 22px;
    
            @include breakpoint(sm) {
                flex-direction: row;
                justify-content: space-between;
            }
    
            .collectionBlurb {
                width: 100%;
                max-width: 100%;
                margin-bottom: 0;
    
                @include breakpoint(sm) {
                    max-width: calc(100% - 200px);
                }
            }
            
            div {
                display: flex;
                align-items: center;
                margin-top: 15px;
    
                @include breakpoint(sm) {
                    margin-top: 0;
                }
            
                .show {
                    color: #004876;
                    font-family: 'Gotham Medium', 'Gotham bold', sans-serif;
                    font-size: 15px;
                    font-weight: 800;
                    background-color: none;
                    height: max-content;
                }
        
                .arrowHolder {
                    border: 1px solid rgba(129,149,162, 1);
                    border-radius: 12px;
                    width: 23px;
                    height: 23px;
                    padding: 0;
                    margin: 0 0 0 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(-90deg);
    
                    &.open {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    
        .collections {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .collectionsContainer {
                display: none;
                width: 100%;
                padding: 0 0 44px 0;
                gap: 30px;
                overflow-x: auto;
        
                &::-webkit-scrollbar {
                    background-color: #D8D8D8;
                    height: 3px;
                    border: 1px solid #e9edf0;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #0070CD; 
                    border-radius: 2px;
                
                }
        
                &.open {
                    display: flex;
                }
            }
        }
    }

}

.panoHolder {
    display: block;
    width: 100vw;
    height: 100vh;
    transform: translateX(4000px);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;

    &.active {
        transform: translateX(0);
    }

    .alert {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100vw - 100px);
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
        }

        span {
            padding: 30px 80px;
            color: black;
            background-color: white;
            border-radius: 10px;
            font-weight: 500;
        }
    }

    .popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        z-index: 0;
        font-weight: 500;
        background-color: white;
        min-width: 350px;
        max-width: 500px;
        padding: 24px 30px 28px 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        opacity: 0;
        transition: opacity 0.35s ease-in-out;

        &.show {
            opacity: 1;
            z-index: 100;
        }

        span {
            text-align: center;
            font-size: 17px;

            &:first-of-type {
                margin-bottom: 12px;
            }
        }
        
        button {
            background-color: $accent_blue;
            color: white;
            font-weight: 300;
            font-size: 14px;
            width: 70px;
            padding: 3px 10px;
            border-radius: 3px;
            margin: 0 6px;

            &:hover {
                background-color: $medium_blue2;
                transition: background-color 0.3s;
            }
        }
    }
}

.visualizerFooter {
    width: 100%;
    color: #000; 
    padding: 35px 30px;
    background-color: #fff;

    .wrapper {
        width: max-content;
        margin: auto;
        display: grid;
        gap: 12px;
        grid-template-columns: 178px 20px;
        grid-template-rows: 40px 16px;
        grid-template-areas:
            "two two"
            "one three";

        @include breakpoint(md) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .visualizerNav {
            width: 170px;
            display: flex;
            justify-content: center;
            grid-area: one;
            font-size: 11px;
            font-style: normal;
            text-align: left;

            @include breakpoint(md) {
                width: 200px;
                justify-content: flex-start;
            }

            a {
                color: #000;
                text-decoration: underline;
                text-transform: uppercase;
                font-size: 9px;
                line-height: 18px;
            }
        }

        .tbLogo {
            width: 210px;
            height: 40px;
            display: flex;
            justify-content: center;
            grid-area: two;
            grid-column-start: 1;
            grid-column-end: 2;
    
            @include breakpoint(md) {
                width: 200px;
            }
    
            &:after {
                content: "";
                width: 200px;
                height: 40px;
                border: none !important;
                background: url("https://cdn.tollbrothers.com/sites/comtollbrotherswww/design-studio/toll-logo.png") no-repeat;
                background-size: 200px 37px;
            }
        }

        .eho {
            width: 15px;
            height: 17px;
            position: relative;
            grid-area: three;
            display: flex;
            justify-content: flex-end;

            @include breakpoint(md) {
                width: 200px;
            }

			&:after {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				width: 15px;
				height: 17px;
				background: url("https://cdn.tollbrothers.com/sites/comtollbrotherswww/design-studio/eho.svg") no-repeat;
			}
		}
    }


}

.tollPano {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block;
    
    .onfigrTag {
        width: 100%;
        height: 100%;
        display: block;

        &.studio {
            h2 {
                font-size: 24px;
                margin-bottom: 20px;

                &:before {
                    display: none;
                }
            }
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 15px;
            font-weight: 600;
        }

        h4 {
            color: #736b69;
            font-size: 15px;
            font-weight: 500;
            margin: 0;
        }

        p {
            margin-bottom: 0;
        }

        label {
            color: #736b69;
            font-size: 15px;
            padding: 15px 0 10px 0;
            display: block;
        }

        input {
            position: relative;
            opacity: 1;
        }
    }
}

.logout {
    background-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 2px 8px;
    border-radius: 24px;
    margin: 8px 20px 0 0;
    font-size: 11px;
    font-weight: 500;
}

.justLoggedOut {
    margin: 30px auto -10px auto;
    text-align: center;

    @include breakpoint(md) {
        margin: 0 0 0 60px;
        text-align: left;
    }

    h2 {
        font-family: Domaine, Gotham, sans-serif;
        font-size: 30px;
        line-height: 1.2em;
        padding: 0 15px;
        margin: 0 auto 18px auto !important;

        @include breakpoint(md) {
            font-size: 34px;
            padding: 0;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.75em;
        margin-bottom: 30px;

        a {
            color: $accent_blue;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: $medium_blue;
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: #fff;
}