@import "../modules/all";

.embeddedServiceSidebar {
  z-index: 9999999 !important;

  .embeddedServiceSidebarHeader,
  .shortHeader {
    border-radius: 0 !important;
    background-color: $medium_blue !important;

    .headerText {
      margin: 0 !important;
    }

    /* stylelint-disable selector-id-pattern */
    #headerTextLabel {
      font-family: $base_font_family !important;
      font-weight: $font_weight_medium !important;
      text-transform: capitalize !important;
      letter-spacing: normal !important;
    }
  }

  h2[embeddedservice-chatheader_chatheader] {
    padding: 0 !important;
    margin: 0 !important;
    color: white !important;
    font-family: Arial, sans-serif !important;
    font-size: 18px !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    text-align: left !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  &.layout-docked .dockableContainer {
    position: fixed !important;
    border-radius: 0 !important;
    left: auto !important;
    right: 10px !important;
    bottom: 0 !important;
    max-width: 80% !important;
    max-height: 80% !important;
    margin: 0 !important;

    @include breakpoint(sm) {
      max-width: 60% !important;
      max-height: 60% !important;
    }

    @include breakpoint(md) {
      max-width: none;
      max-height: 498px !important;
    }
  }

  &.sidebarMaximized {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: auto !important;
    background: transparent !important;

    .termsAndConditionsText a {
      text-decoration: underline;
    }
  }

  button[embeddedService-chatHeader_chatHeader] {
    padding: 1px 6px;

    &.closeButton[embeddedService-chatHeader_chatHeader] {
      padding-top: 4px;
    }
  }
}

.embeddedServiceSidebarMinimizedDefaultUI.helpButton {
  .content {
    padding: 0 !important;
  }

  .messageContent {
    justify-content: center !important;

    .embeddedServiceIcon.x-small svg {
      width: 16px !important;
      height: 16px !important;
    }
  }
}

.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus {
  text-decoration: none !important;
}

.embeddedServiceSidebarMinimizedDefaultUI {
  bottom: 0 !important;
  width: auto !important;
  min-width: 180px !important;
  max-width: 190px !important;
  height: auto !important;
  padding: 10px !important;
  font-family: $base_font_family !important;
  font-weight: $font_weight_medium !important;
  font-size: 0.8em !important;
  box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.55);
  letter-spacing: normal !important;
  border-radius: 0 !important;
  background: $medium_blue !important;
  border: none !important;

  .content {
    background: transparent !important;
  }
}

.embeddedServiceSidebarButton {
  border-radius: 0 !important;
  padding: 14px 12px;
  color: $white !important;
  letter-spacing: 1px;
  line-height: initial;
  text-transform: uppercase;
  text-align: center;
  border: thin solid $medium_blue !important;
  //@include box-shadow(none);
  font-family: $base_font_family !important;
  font-weight: $font_weight_book !important;
  font-size: 0.7em !important;
  background: $medium_blue !important;

  span {
    color: $white !important;
  }

  &:focus {
    text-decoration: none !important;
  }
}

.embeddedServiceSidebarDialogState {
  .dialogButton {
    &.dialog-button-0,
    &.dialog-button-1 {
      height: 20px !important;
      color: black !important;
      margin: 0 8px !important;
      padding: 4px !important;
      width: auto !important;
      font-size: 0.7em !important;
      font-weight: $font_weight_medium !important;
      letter-spacing: normal !important;
      background: transparent !important;
      border: none !important;
      text-decoration: underline !important;

      .label,
      span {
        color: black !important;
      }

      &:focus,
      &:hover {
        font-weight: $font_weight_bold !important;
        box-shadow: none !important;
        outline: 1px solid lighten($black, 34) !important;
      }
    }
  }
}

.embeddedServiceSidebarFormField input {
  font-family: $base_font_family !important;
  border-radius: 0 !important;
  border: 1px solid #d6d6d6 !important;
  padding: 14px !important;
}

.Company.input,
label[for="Company"] {
 display: none !important;
}

.extendedHeader {
  .embeddedServiceLiveAgentStateWaitingHeader,
  .embeddedServiceLiveAgentStateChatHeader {
    margin-bottom: 20px !important;
    background: white !important;
    border-bottom: 1px solid lighten($black, 42);

    .content {
      height: auto !important;
      padding: 10px 0 !important;
      color: $black !important;

      .waitingGreeting,
      .waitingMessage,
      .message {
        font-family: $alt_font_family !important;
        font-weight: $font_weight_medium !important;
        font-size: 0.84em !important;
        margin: 4px auto !important;
      }

    }
  }

  .embeddedServiceLiveAgentStateChatHeader {
    .content {
      width: 100%;
      padding: 10px 40px !important;
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: center;

      .agentInfo {
        flex-shrink: 0;
      }

      .message {
        width: 190px;
        white-space: normal;
      }

      .chatOptions {
        width: auto !important;
        min-width: 80px !important;
        margin-top: 10px;

        .chatOption {
          border: 1px solid lighten($black, 30);

          &:focus,
          &:hover {
            border: 1px solid $black;

            &:after,
            &:before {
              display: none !important;
            }

            .optionName {
              color: $black !important;
              font-weight: $font_weight_bold !important;
            }
          }
        }

        .optionName {
          color: lighten($black, 18) !important;
          margin: 0 !important;
        }

        .small.embeddedServiceIcon {
          display: none !important;
        }
      }
    }
  }
}

.embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper {
  height: 56px !important;
  min-height: 56px !important;
}

.embeddedServiceLiveAgentStateChatInputFooter {
  textarea {
    padding: 10px 8px !important;
    border-radius: 0 !important;
  }
}

.endChatButton {
  display: none !important;
  line-height: initial !important;
}

.embeddedServiceLiveAgentStateChatItem.agent .agentName {
  text-transform: capitalize !important;
}
