.sliderButton {
  width: 30px;
  height: 42px;
  background: $black;
  overflow: hidden;
  z-index: 1;
  background-image: url("https://cdn.tollbrothers.com/sites/comtollbrotherswww/about/timeline/ArrowWhite.svg");
  background-size: 14px 14px;
  background-position: 10px 14px;
  //background-color: white;
  background-repeat: no-repeat;
  //filter: invert(1);

  &:hover,
  &:focus,
  &:active {
    background-color: #000;
  }

  &[disabled], &.disabled {
    opacity: 0.25;
  }

  &.prev {
    transform: rotate(180deg);
  }
}
