@import "styles/modules/all";

.container {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 24px;
  width: 100%;
}

.response {
  position: relative;
  background-color: white;
  border: 1px solid #e9edf0;
  border-radius: 8px 8px 8px 0;
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.icon {
  position: absolute;
  left: -9px;
  top: -11px;
  width: 20px;
  height: 20px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.text {
  font-family: $alt_font_family;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: black;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}
