@import "styles/modules/all";

.imageCarousel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.title {
  font-family: $alt_font_family;
  font-weight: $font_weight_bold;
  font-size: 1.125em;
  margin: 0;
}

.scrollContainer {
  display: flex;
  width: calc(100% + 24px);  //so it bleeds to the end
  margin-left: -12px;

  .controls {
    left: -8px;
    width: calc(100% + 4px);

    button {
      width: 22px;
      height: 22px;
      padding: 2px;
    }
  }
}

.scrollWrap {
  display: inline-flex;
  padding-left: 12px;
  scroll-padding: 0 0 0 12px;
  gap: 10px;
}

.scrollItem {
  flex-shrink: 0;
  width: calc(100% - 26px);
  height: auto  !important;
}

.imageItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border: 1px solid $light_gray;
}

.caption {
  font-family: $alt_font_family;
  font-size: 0.75em;
  color: black;
}
