@import "styles/modules/all";

.root {
  width: 100%;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: $domaine_font_family;
  font-size: 1.125em;
  margin: 0;
  line-height: 1.3;
}

.location {
  font-family: $alt_font_family;
  font-size: 0.75em;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 295 / 166;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 16px;
  padding-bottom: 16px;
}

.summarySection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.summaryTitle {
  font-family: $alt_font_family;
  font-weight: $font_weight_bold;
  font-size: 1.125em;
  margin: 0;
}

.summaryList {
  list-style-type: disc;
  margin: 0;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.bullet, .description {
  font-family: $alt_font_family;
  font-size: .8125em;
}

.collectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
