@import "styles/modules/all";

.productsContainer {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  width: calc(100% + 24px);  //so it bleeds to the end
  margin-left: -12px;

  .scrollWrap {
    display: flex;
    padding-bottom: 10px;
    padding-left: 12px;
    scroll-padding: 0 0 0 12px;
    gap: 10px;
  }

  .scrollItem {
    height: auto  !important;

    &:last-child {
      padding-right: 12px;
    }
  }

  .controls {
    left: -12px;
    width: calc(100% + 4px);

    button {
      width: 22px;
      height: 22px;
      padding: 2px;
    }
  }

}