@import "styles/modules/all";

.root {
  font-family: $special_font_family;
  font-size: .7em;
}

.container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.imageContainer {
  width: 25px;
  height: 25.74px;
  background-color: #C2A4DC;
  border-radius: 15%;
  flex-shrink: 0;

  img {
    width: 18px;
    position: relative;
    top: 4px;
    left: 2px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  min-width: 0;
  flex: 1;
}

.label {
  font-weight: $font_weight_bold;
}

.location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

