.chatButton {
  border: 1px solid white;
  font-size: 13px;
  color: white;
  background: #0c223f;
  padding: 7px 12px 7px 12px;
  border-radius: 200px;
  font-weight: 500;
  text-align: center;
  -webkit-transition: background-color 200ms ease-out, color 200ms ease-out, border 200ms ease-out;
  transition: background-color 200ms ease-out, color 200ms ease-out, border 200ms ease-out;
  text-transform: none;
  margin: 0px 10px 0px 0px;
  display: inline-block;
  height: 35px;
  cursor: pointer;
}

.statusDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 7.5px;
  margin-right: 10px;
  position: relative;
  top: 1px;
  background: #7a7a7a;
}

.online {
  background: #24a31f;
}

.offline {
  background: #a31f34;
}


