.dragSliderWrapper {
    position: relative;
    width: 100%;
    background-color: transparent;
    padding: 25px 0;
}

.dragHandle {
    position: absolute;
    top: 5px;
    background-color: #fff;
    outline: 2px solid grey;
    padding: 7px;
    border-radius: 100%;
    cursor: grab;
    transition: all, .035s;
    z-index: 2;
}

.track {
    font-size: 12px;
    padding: 2px 0;
    cursor: grab;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    margin-bottom: 16px;
    z-index: 0;
    background: #0070cd;
    border-radius: 20px;

    input {
        width: 100%;
        position: absolute;
        width: 100%;
        padding: 0;
        overflow: visible;
        cursor: pointer;
        outline: none;
        border: none;
        pointer-events: none;
        color: #000;

        &::-webkit-slider-runnable-track {
            background: none !important;
        }

    }

    .rangeInput::-webkit-slider-thumb {
        position: relative;
        width: 33px;
        height: 33px;
        margin-top: -16px;
        border: 1px solid #c2c2c2;
        border-radius: 100%;
        z-index: 2;
        pointer-events: all;
        background: white no-repeat url(https://cdn.tollbrothers.com/sites/comtollbrotherswww/svg/slider.svg);
        box-shadow: none;
        background-size: 6px;
        background-position: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        overflow: visible;
    }

    .rangeInput::-moz-range-thumb {
        @include thumb;
    }
}

.rangeInput,
.rangeInput::-webkit-slider-runnable-track,
.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

.values {
    position: absolute;
    font-size: 12px;
    top: 65px;

    &.minValue {
        left: 0;
    }

    &.maxValue {
        right: 0;
    }

    &.current {
        text-align: center;
        top: -35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: left;
        z-index: 2;
    }
}