@import "styles/modules/all";

.track {
    font-size: 12px;
    padding: 2px 0;
    cursor: grab;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    margin-bottom: 16px;
    z-index: 0;
    border-radius: 20px;

    input {
        width: 100%;
        position: absolute;
        padding: 0;
        overflow: visible;
        cursor: pointer;
        outline: none;
        border: none;
        color: #000;

        &:focus-visible {
            outline: none;
        }
    }


    .rangeInput::-webkit-slider-thumb {
        position: relative;
        width: 33px;
        height: 33px;
        border: 1px solid #c2c2c2;
        border-radius: 100%;
        z-index: 2;
        pointer-events: all;
        background: white no-repeat url(https://cdn.tollbrothers.com/sites/comtollbrotherswww/svg/slider.svg);
        box-shadow: none;
        background-size: 6px;
        background-position: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        overflow: visible;
    }

}

.rangeInput,
.rangeInput::-webkit-slider-runnable-track,
.rangeInput::-webkit-slider-thumb,
.rangeInput::-moz-slider-runnable-track,
.rangeInput::-moz-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

.rangeInput:focus-visible {
    outline: none;
}

.rangeInput:focus-visible::-webkit-slider-thumb {
    border: 2px solid $accent_blue;
    box-shadow: 0 0 0 4px rgba($accent_blue, .2);
}

.rangeInput:focus-visible::-moz-range-thumb {
    border: 2px solid $accent_blue;
    box-shadow: 0 0 0 4px rgba($accent_blue, .2);
}
