@import "styles/modules/all";

.fullScreen {
  width: 100vw;
  height: 100%;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  z-index: 1000;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 0;
    background: #004876 center/18px url(https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/svg/close-white.svg) no-repeat;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  .fullscreenMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    height: 100%;

    figure {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      width: auto;
      margin: 0;
      overflow: hidden;

      img,
      iframe {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: contain;
      }

      figcaption {
        position: absolute;
        bottom: 14px;
        left: 20px;
        right: 20px;
        font-size: 0.8em;
        pointer-events: none;
      }
    }

    :global {
      .mediaIframeCover__adjust {
        display: none;
      }

      .mediaSVG__adjust {
        width: auto;
        background: white;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;

    button {
      pointer-events: auto;

      &:last-child {
        transform: rotate(180deg);
        margin-left: auto;
      }
    }
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
