@import "styles/modules/all";

.mediaWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.media {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s $cubic_bezier;

  &.show {
    opacity: 1;
  }

  .bottomRightNav {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.9em;

    @include breakpoint(sm) {
      right: 20px;
      flex-direction: row;
      align-items: center;
    }

    .mediaShareNav {
      margin: -4px -6px 0 0;

      @include breakpoint(sm) {
        margin-left: 16px;
      }

      button {
        background: none;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 6px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.mediaFacebookShare {

          &::before {
            content: url("https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/icons/Facebook.svg");
            width: 8px;
            height: 16px;
            filter: invert(1);
            display: inline-block;
          }
        }

        &.mediaPinterestShare {
          &::before {
            content: url("https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/icons/Pinterest.svg");
            width: 16px;
            height: 16px;
            filter: invert(1);
            display: inline-block;
          }
        }
      }
    }


  }

  .modelLink {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 3;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: #004876;
    background-color: #ffffff;
    padding: 6px 22px;
    border-radius: 17px;
  }

  iframe {
    background: black;
  }

  .iframeCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.iframeWithCaption {
  flex-direction: column;
  min-height: 1px;

  iframe {
    flex-shrink: 1;
  }

  figcaption {
    position: static !important;
    width: 100% !important;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px 80px 10px 16px!important;
    font-size: .8em !important;

    @include breakpoint(sm) {
      padding: 20px 80px 20px 20px!important;
    }

  }

}