@import "styles/modules/all";

.mediaWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .transformWrapper, .transformContentClass {
    width: 100% ;
    height: 100%;
  }
}

.media {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s $cubic_bezier;

  &.show {
    opacity: 1;
  }

  .bottomRightNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    font-size: 1.1em;

    @include breakpoint(sm) {
      flex-direction: row;
      align-items: center;
    }

    span {
      font-family: $alt_font_family;
    }

    .mediaShareNav {
      margin: 0 -6px 0 0;

      @include breakpoint(sm) {
        margin-left: 16px;
      }

      button {
        background: none;
        width: 30px;
        height: 24px;
        border: none;
        margin-left: 8px;
        margin-top: 4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        filter: invert(1);

        &.mediaFacebookShare {
            background: url("https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/icons/Facebook.svg") no-repeat center;
            background-size: 8px 16px;
        }

        &.mediaPinterestShare {
            background: url("https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/icons/Pinterest.svg") no-repeat center;
            background-size: 16px 16px;
        }
      }
    }


  }

  .modelLink {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 3;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: #004876;
    background-color: #ffffff;
    padding: 6px 22px;
    border-radius: 17px;
  }

  iframe {
    background: black;
  }

  .iframeCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.iframeWithCaption {
  flex-direction: column;
  min-height: 1px;

  iframe {
    flex-shrink: 1;
  }

  figcaption {
    position: static !important;
    flex-grow: 1;
    flex-shrink: 0;
  }

}