@import "styles/modules/all";

.mediaWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.media {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s $cubic_bezier;

  &.show {
    opacity: 1;
  }

  .bottomRightNav {
    position: absolute;
    bottom: 14px;
    right: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 4px;
    font-size: 0.9em;

    @include breakpoint(sm) {
      flex-direction: row;
      align-items: center;
    }

    p {
      margin: 0 4px 4px 0;

      @include breakpoint(sm) {
        margin: 0 !important;
      }
    }

    .mediaShareNav {
      margin-left: 0px;

      @include breakpoint(sm) {
        margin-left: 30px;
      }

      button {
        background: none;
        width: 30px;
        height: 30px;
        border: none;
        margin: 0 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include breakpoint(sm) {
          margin: 0 8px;
        }

        &.mediaFacebookShare {
          margin-left: 0px;

          @include breakpoint(sm) {
            margin-left: 8px;
          }

          &::before {
            content: url("https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/icons/Facebook.svg");
            width: 8px;
            height: 16px;
            filter: invert(1);
            display: inline-block;
          }
        }

        &.mediaTwitterShare {
          &::before {
            content: url("https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/icons/Twitter.svg");
            width: 16px;
            height: 15px;
            filter: invert(1);
            display: inline-block;
          }
        }

        &.mediaPinterestShare {
          margin-right: 0px;

          @include breakpoint(sm) {
            margin-right: 8px;
          }

          &::before {
            content: url("https://tollbrothers-static-public.s3.amazonaws.com/sites/comtollbrotherswww/icons/Pinterest.svg");
            width: 16px;
            height: 16px;
            filter: invert(1);
            display: inline-block;
          }
        }
      }
    }

    
  }

  .mediaCapInline {
    font-size: 14px;
    line-height: 16px;
    margin: 2px 4px;
  }

  .modelLink {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 3;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: #004876;
    background-color: #ffffff;
    padding: 6px 22px;
    border-radius: 17px;
  }

  iframe {
    background: black;
  }

  .iframeCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
