.imageTest {
  width: 50%;
  height: 50px;
}

.heroContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .imageHolder {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;

      &.nextImage {
        z-index: 3;
        opacity: 0;
        transition: opacity 0s ease-out;
        pointer-events: none;

        &.fading {
          opacity: 1;
          transition: opacity 1s ease-out;
          pointer-events: all;
        }
      }

    } // end imageHolder

  }
