@import "styles/modules/all";

// default styles are for storybooknewhomes.com. Modifications for other sites are below
.calculatorWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 850px) {
        flex-direction: column;
    }

    .left,
    .right {
        width: 46%;

        @media screen and (max-width: 850px) {
            width: 100%;
        }
    }
}

.right {
    position: relative;

    @media screen and (max-width: 850px) {
        margin-top: 20px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 90%;
        left: -18px;
        top: 10px;
        background-color: #aaa;

        @media screen and (max-width: 850px) {
            display: none;
        }
    }

    .estimatedPayment {
        display: flex;
        flex-direction: column;
        align-items: center;

        .graphic {
            width: 100%;
            height: 290px;
            position: relative;

            p {
                width: 290px;
                height: 290px;
                position: absolute;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 0;
                right: 0;
            }

            p.principal {
                background-color: #008289;
                z-index: 1;
            }

            p.taxes {
                z-index: 2;
                //display: none;

                &.storyBook {
                    display: block; 
                }

                span {
                    font-size: 48px;
                    font-weight: bold;
                    background-color: #fff;
                    border-radius: 50%;
                    width: 240px;
                    height: 240px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    color: #000;

                    span {
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 300;
                        display: block;
                        max-width: 120px;
                        text-align: center;
                        margin-top: 20px;
                        background-color: transparent;
                        height: auto;
                    }
                }
            }
        }

        p:nth-child(1) {
            font-size: 1.3em;
            font-weight: 500;
            margin: 0 auto;
        }

        p:nth-child(2) {
            width: 290px;
            height: 290px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .details {
            width: 80%;
            margin-top: 25px;

            >div {
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #cdcbcb;
                padding: 3px 10px 3px 20px;
                position: relative;


                span {
                    font-size: 13px;
                    color: #39484F;
                    font-weight: 400;
                    position: relative;

                    &:nth-child(1) {

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background-color: #008289;
                            border-radius: 100%;
                            left: -17px;
                            top: 4px;
                        }
                    }

                    &.toolTipLaunch {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        background-image: url(https://cdn.tollbrothers.com/sites/icons/informationIcon.svg);
                        background-size: 100%;
                        display: block;
                        position: absolute;
                        right: -16px;
                        top: 6px;
                        cursor: pointer;
                        z-index: 2;

                    }

                    &.toolTip {
                        position: absolute;
                        bottom: -50%;
                        right: 0;
                        width: 200px;
                        border-radius: 15px;
                        padding: 12px;
                        opacity: 0;
                        z-index: 1;
                        background-color: white;
                        box-shadow: 0 0 4px 0px rgba(0, 0, 0, .25);
                        transition: opacity, .5s;
                        text-align: left;
                        font-weight: 400;

                        &.isActive {
                            opacity: 1;
                            z-index: 3;
                        }

                        .close {
                            position: absolute;
                            right: 10px;
                            top: 0;
                            font-size: 18px;
                            font-weight: 600;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    span {
                        &:nth-child(1) {
                            &::before {
                                background-color: #7CBF92;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    span {
                        &:nth-child(1) {
                            &::before {
                                background-color: #39484F;
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    span {
                        &:nth-child(1) {
                            &::before {
                                background-color: #CEC18B;
                            }
                        }
                    }
                }

                &:last-child {
                    border-bottom: 1px solid #cdcbcb;
                }
            }
        }
    }
}

.dragSliderWrapper {
    border: 1px solid #667;
    margin: 5px 0;

}

.sliderWrapper {
    position: relative;
    height: 60px;
    border: 1px solid #aaa;
    padding: 0 10px;
    margin: 10px 0 40px;
    background-color: white;

    @include breakpoint(xs) {
        padding: 0 18px;
    }

}

.dragWrapper {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -19px;
    z-index: 2;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    bottom: -32px;
}

.callOutWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    z-index: 1;

    &.estimatedPayment {
        height: auto;
    }

    label {
        flex-shrink: 1;
        color: $medium_blue;
        font-family: $alt_font_family;
        font-weight: $font_weight_medium;
        font-size: .875em;
    }

    &.down {
        p {
            span {
                display: inline;
            }
        }
    }

    span.dropDownArrow {
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #222;
        border-right: 1px solid #222;
        transform: rotate(45deg);
        right: 4px;
        top: 22px;
    }

    select {
        border: none;
        cursor: pointer;
        background-color: transparent;
        -webkit-appearance: none;
        position: relative;
        right: 2px;
        padding-right: 18px;
        text-align: right;
    }
}

.input {
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    text-align: right;
    background: transparent;
    border: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.inputFont {
    color: $medium_blue;
    font-family: $alt_font_family;
    font-weight: $font_weight_bold;
    font-size: 1em;
}

.inputPercentage {
    width: 64px;
    padding-right: 12px;
    margin-left: 12px;

    @include breakpoint(xs) {
        width: 70px;
        margin-left: 18px;
    }


    & + span {
        margin-left: -12px;
        pointer-events: none;
    }
}

.inputWrapper {
    flex-shrink: 0;
    height: 100%;

    .inputPercentage {
        border-left: 1px solid #aaa;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: calc(100% + 2px);
    height: 5px;
    margin-left: -1px;
    background: #DFDFDF;
    border-radius: 0;
    background-image: linear-gradient(#7CBF92, #7CBF92);
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #7CBF92;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.advancedButtonWrapper {

    button {
        padding-right: 20px;
        background-color: transparent;
        border: none;
        color: #00828A;
        font-family: $alt_font_family;
        font-weight: $font_weight_bold;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 5px;
            right: 0px;
            border-right: 2px solid #00828A;
            border-bottom: 2px solid #00828A;
            transition: transform, .2s;
            transform: rotate(45deg);
        }

        &.open {
            &::after {
                top: 11px;
                transform: rotate(-135deg);
            }
        }
    }

    .sliderWrapper {
        height: 60px;
        overflow: hidden;
    }
}

// tollbrothers.com-specific styles
.tbdotcom, .tbmortgage {

    .right {
        .estimatedPayment {
           
            .graphic {
                p {
                    width: 265px;
                    height: 265px;

                    span {
                        width: 225px;
                        height: 225px;
                        font-size: 40px;
                    }
                }
                .taxes {
                    span {
                        span {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .details {
            width: 90%;
            div {
                > span {
                    font-size: 12px;
                }
            }

            > div {
                span {
                    &:first-child {
                        &::before {
                            background-color: #0070CD;
                            top: 3px;
                        }
                    }
                }

                &:nth-child(2) {
                    span {
                        &:first-child {
                            &::before {
                                background-color: #8195A2;
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        &:first-child {
                            &::before {
                                background-color: #0C223F;
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    span {
                        &:first-child {
                            &::before {
                                background-color: #CEC18B;
                            }
                        }
                    }
                }
            }
        }
    }

    input[type="range"] {
        background-image: linear-gradient(#0070CD, #0070CD);
    }

    .advancedButtonWrapper {
        button {
            color: #0070CD;
            &::after {
                border-right: 2px solid #0070CD;
                border-bottom: 2px solid #0070CD;
            }
        }
    }

}

// tollbrothersmortgage.com-specific styles
.tbmortgage {
    margin-bottom: 50px;
}
