.currentImage {
    position: relative;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -3;
    opacity: 1;
    transition: opacity 1s ease-out;

    &.fadeIn {
      opacity: 0;
    }
  }

  .nextImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
  }