.button {
  max-width: 40px;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #004876;
  vertical-align: middle;
  padding: 8px;
  margin: 0;
  border: none;
  font: inherit;
  cursor: pointer;
  pointer-events: auto;
}

.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  height: fit-content;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.fullscreen {
  height: 100%;
  width: 100%;

  .transformWrapper, .transformContentClass {
    width: 100% ;
    height: 100%;
  }

}
