
.chatWrapper {
    position: fixed;
    bottom: 35px;
    z-index: 999;
    right: 1vw;
    color: #fff;
    

    &.chatPanelOpen {
        width: auto;
        height: auto;
        max-height: 450px;
        max-width: 400px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 8px;
        background-color: #000;
        border-radius: 4px;
    }

    textarea {
        width: 98%;
        border-radius: 4px;
    }
}

.messagesWrapper {
    position: relative;
    padding: 20px 0 10px;
    border-radius: 4px;
}

.typingWrapper {
    position: absolute;
    z-index: 2;
    right: 5px;
    bottom: 0;
    //border-radius: 4px;
    font-size: 12px;
}

.activeTypingWrapper {
    position: relative;
    left: 0;
    top: 25px;

    span {
        display: inline-block;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        background-color: #efe9e9;   
        margin: 0 1px;    
        animation: bounce 1s infinite ease-in-out;

        &:nth-child(1) {
            animation-delay: 0.1s;
        }

        &:nth-child(2) {
            animation-delay: 0.2s;
        }
    }
}

.messageWrapper {
    
    margin: 15px 0;
    width: fit-content;
    display: flex;
    border-radius: 4px;

    .message {
        padding: 10px;
        border-radius: 4px;
        position: relative;
        padding-bottom: 15px;
        min-height: 25px;
        font-size: 14px;
    }

    .timestamp {
        font-size: 12px;
        white-space: nowrap;
    }

    &.agent {
        margin-left: auto;
        text-align: left;

        .timestamp {
            right: 10px;
        }

        .index {
            position: relative;
        }

        .message {
            background-color: #007df9;
            margin-right: 0px;
            border-radius: 10px 0 10px 6px;
        }
    }

    &.guest {
        margin-right: auto;
        text-align: right;

        .timestamp {
            left: 10px;
        }

        .message {
            background-color: #404040;
            border-radius: 0 10px 4px 10px;
        }
    }

    &.richFormat {
        flex-direction: column;
        margin: 15px 0 -10px auto;
        text-decoration: none;

        img {
            width: 100%;
            height: 122px;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
            aspect-ratio: 16/9;
        }

        .copyWrapper {
            max-width: 225px;
            background-color: #007df9;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 0 0 0 5px;

            p {
                word-wrap: break-word;
                margin: 0 0 10px;
                line-height: 20px;


                &:nth-child(1) {
                    font-weight: bold;
                }
            }
        }
    }
}


.chatLaunch {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 65px;
    right: 7vw;

    img {
        &:nth-child(1) {
            width: 65px;
            height: 65px;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
        }

        &:nth-child(2) {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 35px;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #004778;
            border-radius: 100%;
            padding: 2px;
        }
    }
}

.form {
    position: absolute;
    z-index: 3;
    background: #000;
    right: 10px;
    bottom: 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    
    input {
        border: none;
        border-radius: 4px;
        padding: 10px;
        width: 200px;
        margin-right: 10px;
    }

    button {
        color: #000;
    }
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }
}