
.chatWrapper {
    width: 90%;
    max-width: 380px;
    position: fixed;
    bottom: 35px;
    z-index: 999;
    right: 1vw;
    color: #fff;

    p.waitMessage, p.persistentText {
        color: #000;
        text-align: center;
        padding: 0 15px;
        margin: 25px 0;
    }
    

    &.chatPanelOpen {
        max-width: 345px;
        min-height: 500px;
        max-height: 650px;
        padding: 0 0 8px;
        background-color: #fff;

        &.isMinimized {
            min-height: auto;
            max-height: auto;

            .header {
                margin-bottom: 0;
                border-bottom: none;
                padding: 0;
            }

            .messagesWrapper {
                padding: 0;
            }
        }

        .messagesWrapper {
            overflow: hidden;
            overflow-y: scroll;
        }
    }

    textarea {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 2px solid #d0d7db;
        color: #000;
        padding: 20px 30px 0px 15px;
        line-height: 18px;
        resize: none;
    }
}

.messagesWrapper {
    position: relative;
    padding: 20px 15px 50px;
    max-height: 375px;
}

.typingWrapper {
    position: absolute;
    z-index: 2;
    right: 5px;
    bottom: 0;
    font-size: 12px;
}

.timestamp {
    font-size: 10px;
    white-space: nowrap;
    color: #000;
    text-align: center;
}

.messageWrapper {
    
    margin: 15px 0;
    width: fit-content;
    display: flex;
    margin-left: auto;
    text-align: left;

    img, span {
        border-radius: 100%;
        margin-right: 5px;
    }

    span {
        background-color: #101f36;
        padding: 15px;
        color: #fff;
        height: 20px;
        width: 20px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .index {
        position: relative;
    }

    .message {
        background-color: #007df9;
        margin-right: 0px;
    }

    .message {
        padding: 10px;
        position: relative;
        padding-bottom: 15px;
        min-height: 25px;
        font-size: 14px;
        background-color: #101f36;
    }

    &.guest {
        .message {
            background-color: #e6eaee;
            color: #000;
        }
    }

    &.richFormat {
        flex-direction: column;
        margin: 15px 0 10px auto;
        text-decoration: none;
        max-width: 225px;

        img {
            width: 100%;
            height: 122px;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
            aspect-ratio: 16/9;
        }

        .copyWrapper {
            
            background-color: #007df9;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 0 0 0 5px;

            p {
                word-wrap: break-word;
                margin: 0 0 10px;
                line-height: 20px;


                &:nth-child(1) {
                    font-weight: bold;
                }
            }
        }
    }
}


.chatLaunch {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 65px;
    right: 7vw;

    img {
        &:nth-child(1) {
            width: 65px;
            height: 65px;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
        }

        &:nth-child(2) {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 35px;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #004778;
            border-radius: 100%;
            padding: 2px;
        }
    }
}

.header {
    border-bottom: 1px solid #d0d7db;
    padding: 0 0 15px;

    .location {
        background-color: #000;
        
        width: 100%;
        
        p {
            margin: 0;
            text-align: center;
            color: #6c6c6c;
        }
    }

    h2 {
        position: relative;
        top: 20px;
        font-size: 16px;
        font-family: "Gotham";
        font-weight: 500;
        text-align: center;
        color: #000;
    }
}

.panelControls {
    display: flex;
    align-items: end;
    position: absolute;
    right: 15px;
    top: 40px;

   

    button {
        width: 40px;
        height: 40px;
        color: #000;
        border: 1px solid #d0d7db;
        border-radius: 100%;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            overflow: visible;
        }
        
        &:nth-child(1) {
            margin-right: 10px;       
        }
        &:nth-child(2) {
       
        }
    }
}

.form {
    width: 100%;
    z-index: 3;
    background: #fff;
    right: 10px;
    bottom: 0;
    padding: 35px 15px;
    color: #000;
    font-family: "Gotham", sans-serif;
    
    input {
        border: 2px solid #d0d7db;
        padding: 20px;
        width: 100%;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .5px;
        margin-bottom: 15px;
        margin: 0 0 15px;
    }

    button[type=submit] {
        background-color: #1463c2;
        padding: 18px;
        color: #fff;
        width: 100%;
        margin: 0 0 15px;
    }
}

.chatInputWrapper {
    position: relative;
    padding: 0 15px;
    position: absolute;
    bottom: 15px;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }
}