@import "styles/modules/all";

.chatWrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    bottom: 56px;
    z-index: 9999;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    button {
        cursor: pointer;
        font: inherit;
    }

    p {
        font-family: $alt_font_family;
        letter-spacing: normal!important;
    }

    p.waitMessage, p.persistentText {
        font-family: $alt_font_family;
        color: #444242;
        text-align: center;
        margin: 22px 0 -10px 0;
        font-size: 1em;
    }

    p.persistentText {
        margin: 0;
        padding: 8px 0;
        color: #5f5e5e;
        font-size: .9em;
    }

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 20px auto 10px auto;
        gap: 4px;

        span {
            animation: chat-loader 1.4s infinite both;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: rgba(0, 0, 0, .8);
            }

            &:nth-child(2) {
                animation-delay: 0.2s;
            }
              
            &:nth-child(3) {
                animation-delay: 0.4s;
            }
        }
    }
      
    @keyframes chat-loader {
        0% {
            opacity: 0.2;
        }
      
        20% {
            opacity: 1;
        }
      
        100% {
            opacity: 0.2;
        }
    } 

    .confirmationEndMessage {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 92%;
        margin-left: 4%;
        padding: 20px 10px;
        top: 80px;
        background: #fff;
        z-index: 99;
        color: #000;
        font-weight: 500;
        box-shadow: 1px 4px 14px rgba(0, 0, 0, .2);

        @media screen and (min-width: 1200px) {
            top: auto;
            bottom: 30px;
        }

        p {
            color: black;
            font-size: .9em;
            font-weight: $font_weight_bold;
            margin: 0 0 30px 0;
        }

        .buttonWrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 50%;
                background: transparent;
                font-size: .8em;
                font-family: $special_font_family;
                border: none;
                text-align: center;

                &:nth-child(2) {
                    color: #8d0e27;
                }
            }
            
        }
    }
    

    &.chatPanelOpen:not(.isMinimized) {
        bottom: 0;
        width: 100%;
        max-width: 345px;
        min-height: 500px;
        max-height: 650px;
        padding-bottom: 20px;
        background-color: #fff;
        box-shadow: 1px 1px 10px rgba(0,0,0,.1);

        .messagesWrapper {
            display: block;
            overflow: hidden;
            overflow-y: auto;
        }
    }

}

.messagesWrapper {
    display: none;
    position: relative;
    padding: 20px 15px 0;
    max-height: 375px;
    flex-grow: 1;
    flex-shrink: 0;
}

.timestamp {
    font-size: 10px;
    font-family: $special_font_family;
    white-space: nowrap;
    color: #000;
    text-align: center;
}

.textChatOptions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 62px;
    z-index: 0;
    //filter: drop-shadow(0 0 2px rgba(0, 0, 0, .65));

    .unreadMessagesIndicator {
        position: absolute;
        right: 0px;
        top: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        font-size: 11px;
        font-family: $alt_font_family;
        font-weight: 500;
        background: #1a9d47;
        border: 1px solid white;
        line-height: 1;
        z-index: 1;
    }

    .textChatWrapper {
        display: flex;
        flex-direction: column;
       
        img {
            width: 20px;
        }

        .textChatButtons {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            width: 100%;
            margin: 0;
            padding: 18px 0;
            font-size: .6em;
            font-family: $special_font_family;
            background: #004778;
            text-transform: none;
            letter-spacing: normal;
            text-align: center;
            border: none;
            border-radius: 62px;
            gap: 4px;
            border: 1px solid white;
            line-height: 1.5;
        }

        .chatButton {
            position: relative;
            padding-bottom: 14px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: none;

            .isMinimized & {
                height: 122px;
                border-bottom-right-radius: 62px;
                border-bottom-left-radius: 62px;

                &::after {
                    display: none;
                }

            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 15%;
                content: "";
                display: block;
                height: 1px;
                width: 70%;
                background: rgba(255, 255, 255, 0.3);
            }
        }

        .textButton {
            padding-top: 10px;
            padding-bottom: 72px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-top: none;
            text-decoration: none;
        }
    }
}

.chatLaunch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    z-index: 1;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
    //filter: drop-shadow(0 0 3px rgba(0, 0, 0, .45));
    background: #004778;
    border: 2px solid white;
    text-align: center;
    
    .oscHead {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    span {
        display: block;
        background-color: #004778;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        padding: 2px;
        line-height: 1;

        .isMinimized & {
            display: none;
        }

        img {
            width: 13px;
            position: relative;
            bottom: 0;

            &.closeIcon {
                width: 10px;
                filter: invert(100%);
            }

        }
    }
}

.header {
    border-bottom: 1px solid #d0d7db;
    height: 64px;

    .location {
        background-color: #000;
        width: 100%;
        
        p {
            margin: 0;
            text-align: center;
            color: #d3d1d1;
            font-size: 12px;
            padding: 5px 0;
        }
    }

    h2 {
        position: relative;
        top: 20px;
        margin: 0;
        font-size: 1em;
        font-family: $special_font_family;
        font-weight: 500;
        text-align: center;
        color: #000;
        letter-spacing: normal;
    }
}

.panelControls {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 15px;
    top: 12px;
    gap: 10px;

    button {
        width: 40px;
        height: 40px;
        padding: 10px;
        color: #000;
        border: 1px solid #d0d7db;
        border-radius: 100%;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            overflow: visible;
        }
    }
}

.chatInputWrapper {
    position: relative;
    padding: 0 15px;
    position: relative;
}

.error {
    font-family: $alt_font_family;
    font-size: .8em;
    margin: 10px auto 0 auto;
    width: 80%;
    line-height: 1.3;
    color: #a61010
}

.callbackIframe {
    display: none;
    height: 0;
    width: 0;
    opacity: 0;
}

.formContainer {
    padding: 35px 15px;
}