@import "styles/modules/all";

.container {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  //padding-right: 24px;
  width: 100%;
}

.response {
  position: relative;
  background-color: white;
  border: 1px solid $light_gray;
  border-radius: 8px 8px 8px 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
}

.icon {
  position: absolute;
  left: -5px;
  top: -11px;
  width: 20px;
  height: 20px;
}

.text {
  font-family: $alt_font_family;
  font-size: .875em;
  font-weight: $font_weight_book;
  line-height: 1.25em;
  color: black;
  margin: 0;
  word-break: break-word;

  p:not(:first-child) {
    margin: 16px 0 8px 0!important;
  }

  //for markdown
  ul, ol {
   margin: 10px 0;

    li {
      margin-left: 18px;
      padding-bottom: 4px;
      line-height: 1.4;
      list-style: outside;

      p {
        margin: 8px 0!important;
      }
    }
  }
}

.component {
  text-align: right;
}
