@import "styles/modules/all";

.container {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  //padding-right: 24px;
  width: 100%;
}

.response {
  position: relative;
  background-color: white;
  border: 1px solid $light_gray;
  border-radius: 8px 8px 8px 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
}

.icon {
  position: absolute;
  left: -5px;
  top: -11px;
  width: 20px;
  height: 20px;
}

.text {
  font-family: $alt_font_family;
  font-size: .875em;
  font-weight: $font_weight_bold;
  line-height: 1.25em;
  color: black;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.component {
  text-align: right;
}
