@import "styles/modules/all";

.error {
  color: #dc3545;
  font-size: 14px;
  padding: 8px 0;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  text-align: left;
}

.regionPrompt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.indicatorContainer {
  margin-top: -100px;
}

.text {
    font-family: $alt_font_family;
    font-size: .875em;
    font-weight: $font_weight_bold;
    line-height: 1.25em;
    margin: 0 !important;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
