@import "styles/modules/all";

.select {
  width: 100%;
  padding: 16px 36px 16px 16px;
  font-size: .8125em !important;
  font-family: $alt_font_family !important;
  font-weight: $font_weight_medium;
  border: 1px solid #d0d7db;
  border-radius: 4px;
  color: #000;
  background-color: #fff;
  cursor: pointer;

  // Reset native appearance
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // Custom dropdown arrow
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;

  // Remove IE default arrow
  &::-ms-expand {
    display: none;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }
}
