@import "styles/modules/all";

.root {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 328px;

    textarea {
        width: 100%;
        min-height: 70px;
        padding: 12px 14px;
        resize: none;
        border: 1px solid #d0d7db;
        border-radius: $border-radius;
        color: #000;
        font-family: $alt_font_family;
        font-size: 0.8em;
        font-weight: $font_weight_light;

        &::placeholder {
            color: $medium_gray;
        }
    }

    button {
        width: 100%;
        padding: 12px 18px;
        text-align: center;
        border: 0;
        border-radius: $border-radius;
        color: #fff;
        background: $accent_blue;
        font-family: $special_font_family;
        font-size: 0.85em;
        font-weight: $font_weight_bold;
        cursor: pointer;

        &:hover:not(:disabled) {
            background: $medium_blue4;
        }

        &:disabled {
            cursor: default;
            opacity: 0.7;
        }
    }
}
