@import "styles/modules/all";

.floorPlanViewer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.title {
  font-family: $alt_font_family;
  font-weight: $font_weight_bold;
  font-size: 1.125em;
  margin: 0;
}

.svgContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background-color: $white;
  border-radius: 4px;
}

.cover {
  position: absolute;
  inset: 0;
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 5px;
  z-index: 10;

  button {
    width: 26px;
    height: 26px;
    border: 1px solid $medium_gray;
    border-radius: 4px;
    background-color: $white;
    font-size: 1.25em;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $light_gray;
    }

    &:focus-visible {
      outline-offset: 0px !important;
    }
  }
}

.transformWrapper {
  width: 100% !important;

  > div {
    width: 100%;
  }

  /* safari only zoom fix */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    will-change: transform;
  }
}

.floorPlanImage {
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  object-fit: contain;

  svg {
    width: 100%;
    height: 100%;

     @include svgStroke ();
  }
}

.tabsContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 8px;
  width: max-content;
  max-width: 100%;
  margin: auto;
  border-radius: 100px;
  background-color: $light_gray;
  border: 1px solid $medium_gray;
  padding: 10px 12px;
  overflow-x: auto;
  scroll-padding-left: 12px;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE/Edge

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

.tab {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  border-radius: 100px;
  box-shadow:  0 0 0 1px $medium_blue3;
  background-color: white;
  color: black;
  font-family: $special_font_family;
  font-size: 0.7em;
  font-weight: $font_weight_bold;
  white-space: nowrap;
  cursor: pointer;
  line-height: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;


  &:hover, &.active {
    box-shadow:  0 0 0 2px $accent_blue;
  }

}
