@import "styles/modules/all";

.stats {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 10px;
  align-items: center;
  width: 100%;

  &.compact {
    gap: 6px;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  font-size: .75em;
  color: black;
  white-space: nowrap;
}

.statValue {
  font-family: $alt_font_family;
  font-weight: $font_weight_bold;
  line-height: 20px;
}

.statLabel {
  font-family: $alt_font_family;
  line-height: 20px;
}
