@import "styles/modules/all";

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 0;
  padding-left: 24px;
  width: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
  border-radius: 8px 8px 0 8px;
  background-color: $light_gray;
}

.text {
  font-family: $alt_font_family;
  font-size: .875em;
  font-weight: $font_weight_bold;
  line-height: 1.25em;
  color: black;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}
