/* ===========================================================
	HERO
============================================================ */

.subpageHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(90vh - 20px);
    color: #fff;
    background: #fff;
    overflow: hidden;
    z-index: 2;
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .heading {
      position: absolute;
      margin: 0;
      padding: 0 17.5px;
      font-size: 3.1em;
      font-weight: 200;
      text-align: center;
      text-shadow: rgb(0 0 0 / 0.12) 0 3px 10px;      
      z-index: 2;
  
      @include breakpoint(md) {
        padding: 0 35px;
      }
    }
  }

