@import "modules/all";
@import "base/reset";
@import "base/input_text";
@import "base/buttons";
@import "base/default-checkbox";
@import "base/default-radio";
@import "base/selector";
@import "base/spinner";

//@import "partials/map_info_window";
@import "partials/map_markers";
//@import "partials/metro_map";
//@import "partials/slider-buttons";
@import "partials/disclaimer";

body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1em;
  font-family: $base_font_family;
  font-weight: $font_weight_book;
  font-style: normal;
  color: lighten($black, 3);
  line-height: $base_line_height;

  &.preventScroll {
    overflow: hidden !important;
    height: 100% !important;
  }
}

h1,
h2,
h3 {
  font-family: $nimbus_font_family;
  letter-spacing: 1px;
}

.bold {
  font-weight: $font_weight_bold;
}

.medium {
  font-weight: $font_weight_medium;
}

.italic {
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:visited:hover {
    text-decoration: none;
  }
}

i,
em {
  @extend .italic;
}
b,
strong {
  @extend .bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5em 0;
  font-weight: $font_weight_book;

  &.light {
    font-weight: $font_weight_light;
  }
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.2em;
}

p,
ul,
ol,
pre,
label,
table {
  font-family: $alt_font_family;
  font-size: $base_font_size;
}

label {
  font-family: $base_font_family;
}

q,
blockquote {
  font-family: $alt_font_family;
  font-size: $base_font_size;
}

p,
q {
  margin: 0 0 30px 0;
  line-height: 1.8em;
}

li {
  line-height: 1.6em;
}

input,
select,
textarea,
.multi-select-label {
  font-family: $alt_font_family;
  font-size: $base_font_size;
}

button.tollButton,
.tollButton {
  font-family: $base_font_family;
  font-size: 0.6875em;
}

.base-font {
  font-family: $base_font_family;
}

.alt-font {
  font-family: $alt_font_family;
}

.nimbus-font {
  font-family: $nimbus_font_family;
  letter-spacing: 1px;

  &.heading {
    letter-spacing: 2px;
  }
}

.hide-button-label {
  position: absolute;
  right: -5000px;
}

.page-margins {
  padding-left: $page_margins/4;
  padding-right: $page_margins/4;

  @include breakpoint(md) {
    padding-left: $page_margins/2;
    padding-right: $page_margins/2;
  }

  @include breakpoint(lg) {
    padding-left: $page_margins;
    padding-right: $page_margins;
  }
}

.page-margins__left {
  padding-left: $page_margins/4;
  padding-right: 0;

  @include breakpoint(md) {
    padding-left: $page_margins/2;
    padding-right: 0;
  }

  @include breakpoint(lg) {
    padding-left: $page_margins;
    padding-right: 0;
  }
}

.isHidden {
  display: none !important;
}

.onlineDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 7.5px;
  margin-right: 10px;
  position: relative;
  top: 1px;
  background: #7a7a7a;

  body.osc-is-online & {
    background: #24a31f;
  }

  body.osc-is-offline & {
    background: #a31f34;
  }
}
